@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');
html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
/*--------------global-styles-----------------*/
a{
    text-decoration: none;
}

.flex-row{
    display:flex;
    flex-direction: row;

}

/*-------------navbar-----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body{
	background:linear-gradient(to right,#7980ce,lightblue);
    height: 100%;
}

.header{
	background-size: cover;
    background-color: lightgreen;

}
nav{
	display: flex;
	padding: 0.5% 3%;
	justify-content: space-between;
	align-items: center;
}

.nav-links{
 	flex: 1;
 	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

.blockedUser{
  background-color: #f19792;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: green;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.food-picture{
    text-align: right;
    background-color:#f5dfeb;
}

.site-message{
    background-image:url("../pictures/hrana1.jpg");
    background-size: cover;
    background-color: blanchedalmond;
    height: 50vh;
}

.site-background{
    padding-top: 10rem;
    text-align: center;
    color:black
    
}

.title{
    font-size: larger;
    font-family: 'Kirang Haerang', cursive;
    color:white
}

.form-input{
    padding: 4px;
    height: 30px;
    margin: 5px;
    border: solid 1px;
    border-radius: 8px;
    background-color:#f2ede6;
    border: white;
    
}

.form-select{
    padding: 4px;
    height: 30px;
    margin: 5px;
    border: solid 1px;
    border-radius: 8px;
    background-color:#f2ede6;
    border: white;
}

.form-input:focus{
    outline-color:#4287f5
}

.form-select:focus{
    outline-color:#4287f5
}

.search-button{
  width:120px;
  padding: 5px;
  background:#2da12f;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 5px;
  
}

.search-button:hover{
    background-color: #288f2a;
}

.card{
    background-color:white;
    border-radius: 20px;
    padding: 1em;
    text-align: center
    
}

.card:hover{
    box-shadow: 0px 15px 25px #daedf5;
}

.card img{
    max-width: 100%;
    border-radius: 5px;
    
}

.card img:hover{
   
}

.details-button{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color:#66ccff;
    align-self: center;
    margin-top: 40px;
    border:white
}

button:hover{
    background-color:#40b4ee;
}

.restaurants-card{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap:50px;
    width: 90%;
    
}

.search-criterium{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap:50px;
    
}

.restaurant-title{
    color:black;
    display: inline-block;
    float: left;
    margin-bottom: 2%;
    font-family: 'Dela Gothic One', cursive;
    font-size: 20px;
    
    
}



.raiting-value{
    display: inline-block;
    color: rgb(223, 223, 13);
    float: right;
    font-family: 'Jomhuria', cursive;
    font-size: 20px;
    
}

.restaurant-status{
    color:gray;
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;    
}


::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 182, 182); 
  }