@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body{
	background:linear-gradient(to right,#7980ce,lightblue);
    height: 100%;
}

.header{
	background-size: cover;
    background-color: lightgreen;

}
nav{
	display: flex;
	padding: 0.5% 3%;
	justify-content: space-between;
	align-items: center;
}

.nav-links{
 	flex: 1;
 	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

.blockedUser{
  background-color: #f19792;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: green;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}


.dugmadMenija{
	align-content: left;
	margin:3%;
	justify-content: space-between;
}

.dugme{
	font-size: 16px;
	background-color: lightgreen;
	border: 1px;
	border-radius: 6px;
	padding: 10px 20px;
	margin: 4px 2px;
	transition-duration: 0.4s;
}

.dugme:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

h1{
	text-align: center;
}

.pozadinaTabele{
	margin:3%;
}

.tabela{
	width: 80%;
	border:3px solid black;
}

.artikli{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap:50px;
    
}

.card{
    background-color:white;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 0px 15px 25px #95a5a6;
    text-align: center;
    
    
}

.card img{
    max-width: 100%;
    border-radius: 5px;
    transition: transform .2s;
}

.details-button{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color:#66ccff;
    align-self: center;
    margin-top: 40px;
    border:white
}



.restaurants-card{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap:50px;
    
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 182, 182); 
  }